.hero {
  width: 100%;
  max-width: 128rem;
  margin-inline: auto;
  padding: 4rem 3.2rem;

  & h1 {
    max-width: 64rem;
  }

  & h1 > div {
    display: inline-block;
    height: 7.7rem;
    overflow: hidden;
    vertical-align: text-bottom;
  }

  & h1 > div span {
    display: block;
    height: 7.7rem;
    animation: slideUp 6s 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  }

  & h1 > div span:nth-child(1),
  & h1 > div span:nth-child(4) {
    color: var(--snitap-sky-mid);
  }

  & h1 > div span:nth-child(2) {
    color: var(--snitap-joy-mid);
  }

  & h1 > div span:nth-child(3) {
    color: var(--snitap-leaf-mid);
  }
}

@keyframes slideUp {
  0%,
  22% {
    transform: translateY(0rem); /* Delay */
  }

  23% {
    transform: translateY(calc(-7.7rem - 1.5rem));
  }

  25% {
    transform: translateY(calc(-7.7rem + 1rem));
  }

  27% {
    transform: translateY(calc(-7.7rem - 0.5rem));
  }

  29% {
    transform: translateY(calc(-7.7rem + 0.5rem));
  }

  33%,
  55% {
    transform: translateY(-7.7rem);
  }

  56% {
    transform: translateY(calc(-15.4rem - 1.5rem));
  }

  58% {
    transform: translateY(calc(-15.4rem + 1rem));
  }

  60% {
    transform: translateY(calc(-15.4rem - 0.5rem));
  }

  62% {
    transform: translateY(calc(-15.4rem + 0.5rem));
  }

  66%,
  88% {
    transform: translateY(-15.4rem);
  }

  90% {
    transform: translateY(calc(-23.1rem - 1.5rem));
  }

  92% {
    transform: translateY(calc(-23.1rem + 1rem));
  }

  94% {
    transform: translateY(calc(-23.1rem - 0.5rem));
  }

  96% {
    transform: translateY(calc(-23.1rem + 0.5rem));
  }

  100% {
    transform: translateY(-23.1rem);
  }
}
